name = 4x4 Fig1
description = Krichmar et.al. 2022, VTE, Fig. 1 
prefix = VTE 4x4

width = 4
height = 4

delays = 4

# cost matrix
costs = { \\
	    {1,1,1,1},	// 0, 1, 2, 3,    \\
			{1,2,2,1},	// 4, 5, 6, 7,    \\
			{1,2,2,1},	// 8, 9, 10, 11,  \\
			{1,2,1,1}	  // 12, 13, 14, 15   \\
      }

neuromodulation = false
