name = Morris
description = Morris Water Maze 
prefix = Morris

maze = 4
width = 13
height = 13
# =>
# center = 7,7
# start points: wall N, E, S, W
# cost_min = 2
# cost_max = 5
# cost_border = 120
cardinals = N NE E SE S SW W NW
#cardinals = NE SE SW NW


#?[31;1m[ERROR C:\cockroach-ut3\src\CARLsim6\carlsim\kernel\src\snn_cpu_module.cpp:1516] Post-synaptic delay was not sorted correctly pre_id=67, offset=289?[0m
#?[31;1m[ERROR C:\cockroach-ut3\src\CARLsim6\carlsim\kernel\src\snn_cpu_module.cpp:1516] Post-synaptic delay was not sorted correctly pre_id=67, offset=289?[0m
#?[31;1m[ERROR C:\cockroach-ut3\src\CARLsim6\carlsim\kernel\src\snn_cpu_module.cpp:1516] Post-synaptic delay was not sorted correctly pre_id=79, offset=345?[0m
#?[31;1m[ERROR C:\cockroach-ut3\src\CARLsim6\carlsim\kernel\src\snn_cpu_module.cpp:1516] Post-synaptic delay was not sorted correctly pre_id=81, offset=355?[0m
#Assertion failed: synId < (runtimeData[netId].Npre[postNId]), file C:\cockroach-ut3\src\CARLsim6\carlsim\kernel\src\snn_cpu_module.cpp, line 451



#delays = 20
dmin = 5
dmax = 10

weights = 0.85
excit_weights = 2.0
inhib_weights = -0.20

#weights = 0.25 
#excit_weights = 2.0
#inhib_weights = -0.80

#tdAMPA = 2.0
#tdNMDA = 15.0
#tdGABAa = 3.0
#tdGABAb = 15.0

tdAMPA = 2.0
tdNMDA = 25.0
tdGABAa = 3.0
tdGABAb = 25.0

costs = { \\
 {  0,  0,  0,  0,  4,  5,  2,  2,  4,  0,  0,  0,  0  }, \\
 {  0,  0,  2,  5,  5,  5,  4,  3,  2,  3,  5,  0,  0  }, \\
 {  0,  3,  5,  5,  2,  2,  5,  3,  3,  2,  5,  2,  0  }, \\
 {  0,  4,  4,  3,  5,  5,  5,  5,  4,  3,  3,  4,  0  }, \\
 {  4,  5,  4,  5,  1,  2,  4,  2,  4,  4,  2,  2,  4  }, \\
 {  3,  5,  2,  5,  3,  3,  3,  2,  3,  2,  3,  5,  5  }, \\
 {  4,  5,  4,  5,  2,  5,  5,  4,  3,  2,  5,  3,  5  }, \\
 {  5,  3,  3,  3,  3,  3,  5,  3,  2,  4,  3,  3,  5  }, \\
 {  3,  3,  3,  5,  3,  4,  5,  4,  5,  3,  4,  5,  2  }, \\
 {  0,  5,  2,  5,  2,  3,  4,  2,  5,  3,  2,  5,  0  }, \\
 {  0,  2,  2,  2,  4,  2,  2,  2,  4,  2,  5,  2,  0  }, \\
 {  0,  0,  4,  4,  4,  2,  5,  4,  4,  2,  4,  0,  0  }, \\
 {  0,  0,  0,  0,  4,  2,  5,  5,  3,  0,  0,  0,  0  }  \\
}


# discount costs on entering a new place or leaving the current 
#discount = 0

# FIXME parameterize Eprop find path by param, or group property 
# snn_cpu_module.cpp 799
# int tau = groupConfigs[netId][grpId].AxonPlast_TAU;
#tau = 25