name = Boone
description = Boone 2019, 13x13
prefix = 2

maze = 2
width = 13
height = 13

#delays = 0
#dmin = 0
#dmax = 0

costs = { \\
 { 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5 }, \\
 { 5, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5 }, \\
 { 5, 4, 1, 4, 4, 4, 1, 4, 1, 4, 1, 4, 5 }, \\
 { 5, 4, 1, 4, 4, 4, 1, 4, 1, 1, 1, 4, 5 }, \\
 { 5, 4, 1, 1, 1, 1, 1, 1, 1, 4, 4, 4, 5 }, \\
 { 5, 4, 1, 4, 4, 4, 1, 1, 1, 1, 1, 1, 5 }, \\
 { 5, 1, 1, 4, 4, 4, 1, 4, 4, 4, 4, 1, 5 }, \\
 { 5, 1, 1, 1, 1, 1, 1, 4, 4, 4, 1, 1, 5 }, \\
 { 5, 4, 4, 1, 4, 4, 1, 1, 1, 1, 1, 1, 5 }, \\
 { 5, 4, 4, 1, 4, 4, 4, 1, 4, 4, 4, 1, 5 }, \\
 { 5, 4, 4, 1, 4, 4, 4, 1, 4, 4, 4, 1, 5 }, \\
 { 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5 }, \\
 { 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5 }  \\
}

# discount costs on entering a new place or leaving the old 
discount = 1

# FIXME parameterize Eprop find path by param, or group property 
# snn_cpu_module.cpp 799
# int tau = groupConfigs[netId][grpId].AxonPlast_TAU;
#tau = 25