name = TolmanP
description = Tolman Detour Task (patched)

prefix = Tolman
maze = 3
width = 13
height = 13
cardinals = N E S W
// cost for border, cap by MAX_DELAY
border = 120

# Experiment parameter
# start points: A, B

delays = 20
#dmin = 0
#dmax = 0

weights = 0.85 
excit_weights = 2.0
inhib_weights = -0.20

tdAMPA = 2.0
tdNMDA = 25.
tdGABAa = 3.0
tdGABAb = 25.0

costs = { \\
 {  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  1,  1,  1,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  1,  0,  1,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  1,  1,  1,  0,  1,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  1,  0,  1,  0,  1,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  1,  0,  1,  0,  1,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  1,  0,  1,  0,  1,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  1,  1,  1,  1,  1,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  1,  0,  0,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0  }  \\
 }


# discount costs on entering a new place or leaving the current 
#discount = 0

# FIXME parameterize Eprop find path by param, or group property 
# snn_cpu_module.cpp 799
# int tau = groupConfigs[netId][grpId].AxonPlast_TAU;
#tau = 25