# Configuration file for SpikeStream application
# Each configuration item must have a unique name.
# SpikeStream needs to be restarted for any changes to take effect

# PARAMETERS FOR SpikeStreamNetwork DATABASE
spikeStreamNetworkHost = localhost:3306
spikeStreamNetworkUser = root
spikeStreamNetworkPassword = root

# PARAMETERS FOR SpikeStreamArchive DATABASE
spikeStreamArchiveHost = localhost:3306
spikeStreamArchiveUser = root
spikeStreamArchivePassword = root

# PARAMETERS FOR SpikeStreamAnalysis DATABASE
spikeStreamAnalysisHost = localhost:3306
spikeStreamAnalysisUser = root
spikeStreamAnalysisPassword = root



# NC MODEL
#nemo_model_simtime = 2018-05-02T08:59:59.999

nemo_model_speed = 1

# ModelStart {REALTIME=0, FIXED, CHANNEL};
nemo_model_start = FIXED

# ModelAutosync { OFF=0, FIRST, LAST};
nemo_model_autosync = REALTIME


# instead of sensible lag optimization consider a more tolerant buffer management,
#  e.g. dont skip old bar. Data are usually delayed !
# Problem: Though a Modal Dialog does not block the buffer,
# klicking wild may delay the msg enough to be received after the lag!
# but not yet reproduceable !!!
#nemo_model_lag = 500
#nemo_model_lag = 50
#nemo_model_step = 50
nemo_model_step = 1

# 3 Error, 4 Warn, 5 Notice, 6 Info, 7 Debug
finspikes_reporting_level = 4

# NC Extensions
# variant name
# nc_autoload_network = FinSpikes, All Channels, Yarp
# variant id
# Basic Test Network
# 3306
nc_load_network_id = 49


#nemoWidget_autoloadSimulation = true
#nemoWidget_autoloadDevices = true
#nemoWidget_autostartSimulation = true

#nemoWidget_autoloadInjectors = true
#nemoWidget_xml_config = NemoWidgetInjectors_T01DB.xml


carlsimWidget_autoloadInjectors = true
carlsimWidget_xml_config = CarlsimWidgetInjectors-unittest01.xml


# absolute high end features (enterprise edition): save layouts, restore from toolbar, ...
#nc_autorestore_layout = true
#nc_autosave_layout = true

finspikes_autoupdate_channels = true
finspikes_xml_config = FinSpikesChannel_unittest01.xml

nemo_backend = cpu
nemo_device = 0



# FILE PARAMETERS  --> TODO !!!
default_file_location = /home/terry/spikestream

# VIEWING PARAMETERS
vertex_size = 7.5
draw_axes = true
maximize_gui = false
sphere_radius = 0.1
sphere_quality = 10
connection_quality = 8
minimum_connection_radius = 0.01
weight_radius_factor = 0.25
connection_visibility_threshold_fast =  500000
connection_visibility_threshold_full =  10000
connection_thinning_threshold_fast = 10000
connection_thinning_threshold_full = 1000

# DATABASE OPTIMIZATION PARAMETERS
number_insert_connection_buffers = 100
number_insert_neuron_buffers = 100
