# Fanimat QS 1_3 with CARLsim6, WM (Working Memory), NMS  (Neuromodulatory System)
# derived from unittest07c4 (NeMo)

# Configuration file for SpikeStream application
# Each configuration item must have a unique name.
# SpikeStream needs to be restarted for any changes to take effect

# PARAMETERS FOR SpikeStreamNetwork DATABASE
spikeStreamNetworkHost = localhost:3306
spikeStreamNetworkUser = root
spikeStreamNetworkPassword = root

# PARAMETERS FOR SpikeStreamArchive DATABASE
spikeStreamArchiveHost = localhost:3306
spikeStreamArchiveUser = root
spikeStreamArchivePassword = root

# PARAMETERS FOR SpikeStreamAnalysis DATABASE
spikeStreamAnalysisHost = localhost:3306
spikeStreamAnalysisUser = root
spikeStreamAnalysisPassword = root


# NC MODEL see 1_2
carlsim_model_simtime = 2023-05-04T22:10:03.000

# ModelStart {REALTIME=0, FIXED, CHANNEL};
#carlsim_model_start = REALTIME
carlsim_model_start = FIXED

# ModelAutosync { OFF=0, FIRST, LAST};
carlsim_model_autosync = OFF


# instead of sensible lag optimization consider a more tolerant buffer management,
#  e.g. dont skip old bar. Data are usually delayed !
# Problem: Though a Modal Dialog does not block the buffer,
# klicking wild may delay the msg enough to be received after the lag!
# but not yet reproduceable !!!
# ISSUE: step = 10, 20, 50, 100
#nemo_model_lag = 500
#nemo_model_step = 20
#carlsim_model_step = 10
carlsim_model_step = 1

# select real time as model speed
carlsim_model_speed = 0.003
#carlsim_model_speed = 1.0


# 3 Error, 4 Warn, 5 Notice, 6 Info, 7 Debug
#finspikes_reporting_level = 6

# NC Extensions
# variant name
# nc_autoload_network = FinSpikes, All Channels, Yarp
# variant id
# Basic Test Network
nc_load_network_id = 584


carlsimWidget_autoloadSimulation = true
#carlsimWidget_autoloadDevices = true     # Critical: "SpikeStreamException: 'Neuron groups cannot be connected to multiple output channels. '"
carlsimWidget_autostartSimulation = true


carlsimWidget_autoloadInjectors = true
carlsimWidget_xml_config = CarlsimWidgetInjectors-unittest13left.xml

carlsim_monitors_oat_autoload = false
#carlsim_monitors_oat_config = CarlsimWidgetMonitors-unittest10c4.xml


cns_autoupdate_channels = true
cns_xml_config = CnsChannel_unittest13left.xml

carlsim_backend = cpu
#carlsim_backend = gpu
#carlsim_device = 1

# since spikestream was design to run with one simultor
# choose which one to load. 
# The support of multiple simulators concurrently should be 
# possible in principle. -> V2
simulator_plugin = carlsim*
#simulator_plugin = NONE

# Working directory is <SB>\build\install\config\SpikeStream\results
default_file_location = C:\cockroach-ut3\build\install\config\SpikeStream\

# VIEWING PARAMETERS
vertex_size = 7.5
#vertex_size = 15.0
draw_axes = true
maximize_gui = false
sphere_radius = 0.2
#sphere_radius = 0.25
#sphere_radius = 0.4
#sphere_radius = 0.5
sphere_quality = 10
#sphere_quality = 100
#phere_quality = 50
connection_quality = 8
#connection_quality = 100
#minimum_connection_radius = 0.01
weight_radius_factor = 0.02
minimum_connection_radius = 0.01
#weight_radius_factor = 0.1

connection_visibility_threshold_fast =  500000
connection_visibility_threshold_full =  10000
connection_thinning_threshold_fast = 10000
connection_thinning_threshold_full = 1000

# DATABASE OPTIMIZATION PARAMETERS
number_insert_connection_buffers = 100
number_insert_neuron_buffers = 100
