name = wm3
description = 4 states dorsolateral prefrontal cortex 

#prefix = dlPFC

#states = 6

# 14.04.2023: chattering (CH) to inforce knocking off the order neurons  
out_a = 0.02
out_b = 0.2
out_c = -50
out_d = 4

# order neurons -> freqency adoption
# (f) frequency adoption at Trades
# a=0.02, b=0.2, c=-65, d=6 

# out2order w_factor = 400

state2out_weights = 2.
state2out_w_factor = 100.
state2out_delays = 1


#in2state_weights = 4.0
#in2state_w_factor = 10.0
#in2state_delays = 1

#state2inter_weights = 4.0
#state2inter_w_factor = 10.0
#state2inter_delays = 1

#inter2state_weights = -0.2
#inter2state_w_factor = 1000.0
#inter2state_delays = 2

#state2fuse_weights = 0.25
#state2fuse_w_factor = 100.0
#state2fuse_delays = 1

#fuse2state_weights = 4.0
#fuse2state_w_factor = 10.0
#fuse2state_delays = 1



