name = wm3int
description = 4 states dorsolateral prefrontal cortex 

#prefix = dlPFC

#states = 6



#in2state_weights = 4.0
#in2state_w_factor = 10.0
#in2state_delays = 1

#state2out_weights = -0.200
#state2out_w_factor = 1000.0
#state2out_delays = 1

#state2inter_weights = 4.0
#state2inter_w_factor = 10.0
#state2inter_delays = 1

#inter2state_weights = -0.200
#inter2state_w_factor = 1000.0
#inter2state_delays = 2

#state2fuse_weights = 0.25
#state2fuse_w_factor = 100.0
#state2fuse_delays = 1

#fuse2state_weights = 4.0
#fuse2state_w_factor = 10.0
#fuse2state_delays = 1



