name = 13x13 Boone Test Trails
description = 13x13 Boone 2019, 24 Test Trails
experiment_number = 2  
default = false

# test trails should not alter the subjects
# experiment 1 and 2 but not 3
update_delays = 0

# run n trails, -1 (default) = all)
#trails=2
landmarks=(5,2);(11,6);(6,12);(9,5);(4,10);(5,2);(6,12);(3,4);(11,6);(4,10);(11,12);(9,5);(11,3);(3,4);(11,12);(5,8);(11,3);(6,12);(5,5);(11,12);(5,2);(11,8);(10,4);(11,3);(5,2);

initial_current = 30
recovery_time_ms = 10
time_grid_ms = 250
slow_motion = 0.01
fast_forward = 1.0
observation_time_ms = 50
start_time_ms = 100
end_time_ms = -1

# cost matrix
costs = { \\
 { 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5 }, \\
 { 5, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5 }, \\
 { 5, 4, 1, 4, 4, 4, 1, 4, 1, 4, 1, 4, 5 }, \\
 { 5, 4, 1, 4, 4, 4, 1, 4, 1, 1, 1, 4, 5 }, \\
 { 5, 4, 1, 1, 1, 1, 1, 1, 1, 4, 4, 4, 5 }, \\
 { 5, 4, 1, 4, 4, 4, 1, 1, 1, 1, 1, 1, 5 }, \\
 { 5, 1, 1, 4, 4, 4, 1, 4, 4, 4, 4, 1, 5 }, \\
 { 5, 1, 1, 1, 1, 1, 1, 4, 4, 4, 1, 1, 5 }, \\
 { 5, 4, 4, 1, 4, 4, 1, 1, 1, 1, 1, 1, 5 }, \\
 { 5, 4, 4, 1, 4, 4, 4, 1, 4, 4, 4, 1, 5 }, \\
 { 5, 4, 4, 1, 4, 4, 4, 1, 4, 4, 4, 1, 5 }, \\
 { 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5 }, \\
 { 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5 }  \\
}

# FIXME: E-Prop has to take cost discout into account
# discount costs on entering a new place or leaving the old 
discount = 1


