name = 13x13 Tolman D2
description = 13x13 Tolman Detour Task (Dev)
default = false

# Run reuse Boone segment training
experiment_number = 1

verbosity = 3

# A (7,12) = 149 = (7 - 1) + (12 - 1) * 13  
start_neuron = 149

# B (7,2) = 19  = (7 - 1) + (2 - 1) * 13
target_neuron = 19  

# route has only one segment 
#route=(7,12);(7,2);
route=(2,7);(12,7);

# costs of border and barrier
# ISSUE, screws up legend
border = 120
#border = 20

# Configuration for one optional barrier
# If set, the results are suffixed accordingly
#name = 13x13 Tolman P1
# (7,5)  = 58  = (7 - 1) + (5 - 1) * 13 
#barrier = 58
# (9,7)  = 50  = (9 - 1) + (7 - 1) * 13
#barrier = 86


#name = 13x13 Tolman P2
# (7,7)  = 84  = (7 - 1) + (7 - 1) * 13 
#barrier = 84  
# (6,7)  = 50  = (6 - 1) + (7 - 1) * 13
#barrier = 83


training_loops = 20

initial_current = 30
recovery_time_ms = 400
time_grid_ms = 1000
slow_motion = 0.01
fast_forward = 1.0
observation_time_ms = 400
start_time_ms = 100
# time_grid * 32
end_time_ms = -1

# cost matrix
costs = { \\
 {  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  1,  1,  1,  1,  0,  0,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  1,  0,  0,  1,  0,  0,  0,  0,  0,  0  }, \\
 {  0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  0  }, \\
 {  0,  0,  0,  1,  0,  0,  0,  0,  0,  1,  0,  0,  0  }, \\
 {  0,  0,  0,  1,  1,  1,  1,  1,  1,  1,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0  }, \\
 {  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0,  0  }  \\
 }

# FIXME: E-Prop has to take cost discout into account
# discount costs on entering a new place or leaving the old 
discount = 1

