name = 17x17 Meister Test Trials
description = 17x17 Meister 2 Test Trails
experiment_number = 2  
default = false

# test trails should not alter the subjects
# experiment 1 and 2 but not 3
update_delays = 0

# run n trails, -1 (default) = all)
#trails=2
#landmarks=(1,9);(16,10);(1,9);
#landmarks=(16,10);(1,9);
landmarks=(1,9);(16,10);(1,9);(4,4);(10,12);(16,2);(16,10);

initial_current = 30
recovery_time_ms = 10
time_grid_ms = 250
slow_motion = 0.006
fast_forward = 1.0
observation_time_ms = 50
start_time_ms = 100
end_time_ms = -1


# FIXME: E-Prop has to take cost discout into account
# discount costs on entering a new place or leaving the old 
discount = 1


