name = 4x4 Fig 1
description = 4x4 Maze of [1] Fig. 1, Start at 0, Target 15
experiment_number = 0
default = false

#random_seed = 50

start_neuron = 0
#target_neuron = 15
# Bug in update delay 11 becomes 0, 12 gets new predecessor, patch not sufficient
# 10                    4        4     4        4
# 11                       4        4
# 12                          4              4     1
target_neuron = 14
initial_current = 30

recovery_time_ms = 600
#time_grid_ms = 1000
slow_motion = 0.020
fast_forward = 1.0
observation_time_ms = 250
start_time_ms = 100
end_time_ms = 5000

# cost matrix
costs = { \\
	    {1,1,1,1},	// 0, 1, 2, 3,    \\
			{1,2,2,1},	// 4, 5, 6, 7,    \\
			{1,2,2,1},	// 8, 9, 10, 11,  \\
			{1,2,1,1}	  // 12, 13, 14, 15   \\
      }


