name = 13x13 Boone Training
description = 13x13 Boone 2019, Start at 0, Target 15
experiment_number = 1  
default = false

#start with n segments, -1 (default) = all
#segments=3
#last element marks the end of the route. for cyclic routs, add the start point to the end
route=(4,12);(6,12);(12,12);(12,6);(9,6);(9,4);(11,4);(11,2);(7,2);(3,2);(3,5);(7,5);(7,8);(4,8);(4,12);

# for experiment 1 and 2 but not 3
# todo default
#update_delays = 1

initial_current = 30
recovery_time_ms = 10
time_grid_ms = 250
slow_motion = 0.01
fast_forward = 1.0
observation_time_ms = 50
start_time_ms = 100
end_time_ms = -1
verbosity = 3

# cost matrix
costs = { \\
 { 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5 }, \\
 { 5, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5 }, \\
 { 5, 4, 1, 4, 4, 4, 1, 4, 1, 4, 1, 4, 5 }, \\
 { 5, 4, 1, 4, 4, 4, 1, 4, 1, 1, 1, 4, 5 }, \\
 { 5, 4, 1, 1, 1, 1, 1, 1, 1, 4, 4, 4, 5 }, \\
 { 5, 4, 1, 4, 4, 4, 1, 1, 1, 1, 1, 1, 5 }, \\
 { 5, 1, 1, 4, 4, 4, 1, 4, 4, 4, 4, 1, 5 }, \\
 { 5, 1, 1, 1, 1, 1, 1, 4, 4, 4, 1, 1, 5 }, \\
 { 5, 4, 4, 1, 4, 4, 1, 1, 1, 1, 1, 1, 5 }, \\
 { 5, 4, 4, 1, 4, 4, 4, 1, 4, 4, 4, 1, 5 }, \\
 { 5, 4, 4, 1, 4, 4, 4, 1, 4, 4, 4, 1, 5 }, \\
 { 5, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 5 }, \\
 { 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5 }  \\
}

# FIXME: E-Prop has to take cost discout into account
# discount costs on entering a new place or leaving the old 
discount = 1


